'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'HTML Entities'
      'submenu': [
        { 'label': 'Encode', 'command': 'html-entities:encode' }
        { 'label': 'Decode', 'command': 'html-entities:decode' }
      ]
    ]
  }
]
